<a href="https://colab.research.google.com/github/shahrazzkhmohammed/learn-python/blob/master/Twitter_COVID.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***DOWNLOADING COVID BEDS DATA***

In [ ]:
import urllib.request as urllib2
import json

def urltojson(url):
  apis_page = urllib2.urlopen(url).read()
  apis_data = json.loads(apis_page)
  return apis_data

In [ ]:
andhrapradesh_data = urltojson('https://covidaps.com/data/covidaps.com/bed_data.json')

In [ ]:
bengaluru_data = urltojson('https://covidbengaluru.com/data/covidbengaluru.com/bed_data.json')

In [ ]:
delhi_data = urltojson('https://coviddelhi.com/data/coviddelhi.com/bed_data.json')

In [ ]:
mp_data = urltojson('https://covidmp.com/data/covidmp.com/bed_data.json') #MadhyaPradesh

In [ ]:
tn_data = urltojson('https://covidtnadu.com/data/covidtnadu.com/bed_data.json') #TamilNadu

In [ ]:
telangana_data = urltojson('https://covidtelangana.com/data/covidtelangana.com/bed_data.json')

In [ ]:
wb_data = urltojson('https://covidwb.com/data/covidwb.com/bed_data.json') #WestBengal

In [ ]:
pune_data = urltojson('https://covidpune.com/data/covidpune.com/bed_data.json')

In [ ]:
print(type(pune_data[0]))

<class 'dict'>

In [ ]:
import pandas as pd 

#Combined DataFrame 

delhi_df = pd.DataFrame(delhi_data) 
ap_df = pd.DataFrame(andhrapradesh_data)
bengaluru_df = pd.DataFrame(bengaluru_data)
mp_df = pd.DataFrame(mp_data)
tn_df = pd.DataFrame(tn_data)
telangana_df = pd.DataFrame(telangana_data)
wb_df = pd.DataFrame(wb_data)
pune_df = pd.DataFrame(pune_data)

df = delhi_df.append(ap_df)
df = df.append(bengaluru_df)
df = df.append(mp_df)
df = df.append(tn_df)
df = df.append(telangana_df)
df = df.append(wb_df)
df = df.append(pune_df)

len(df)

6172

# ***DOWNLOADING TWITTER DATA***

In [ ]:
import csv
import tweepy
import ssl
ssl._create_default_https_context = ssl._create_unverified_context

# Oauth keys
consumer_key = "HoyNKdklpaUat1XN0yKmfKfAO"
consumer_secret = "ilCXESs9TmQPfcFx1TrYBZcQeuSM82zYIKHKxumncZOSrcHd5H"
access_token = "1393922385783361545-oU1422i7I3jE3oiHtNhxwzNdSAzrfM"
access_token_secret = "mqpQ2WfdPN2rdQhKMY8zjeAls6ezxtQHJ51Tsu0qgo799"

# Authentication with Twitter
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth)

In [ ]:
#Getting tweets without retweets
query1 = '#Covid19Indiahelp need bed in delhi -filter:retweets'
query2 = '#Covid19IndiaHelp need bed in vizag -filter:retweets'
query3 = '#Covid19IndiaHelp need bed in hyderabad -filter:retweets'
query4 = '#Covid19IndiaHelp need bed in chennai -filter:retweets'
query5 = '#Covid19IndiaHelp need bed in bangalore -filter:retweets'
max_tweets = 100

delhi_tweets = [status for status in tweepy.Cursor(api.search, q=query1).items(max_tweets)]
vizag_tweets = [status for status in tweepy.Cursor(api.search, q=query2).items(max_tweets)]
hyderabad_tweets = [status for status in tweepy.Cursor(api.search, q=query3).items(max_tweets)]
chennai_tweets = [status for status in tweepy.Cursor(api.search, q=query4).items(max_tweets)]
blr_tweets = [status for status in tweepy.Cursor(api.search, q=query5).items(max_tweets)]

In [ ]:
print(len(delhi_tweets))
print(len(vizag_tweets))
print(len(hyderabad_tweets))
print(len(chennai_tweets))
print(len(blr_tweets))

5
10
7
8
3

In [ ]:
searched_tweets = delhi_tweets + vizag_tweets + hyderabad_tweets + chennai_tweets
len(searched_tweets)

30

# ***PREPARING DF FOR TWEETS***

In [ ]:
#Converting the tweets data into a dictionary
status = searched_tweets[0]
json_str = json.dumps(status._json)
d = json.loads(json_str) #dictionary

In [ ]:
#function for getting keys from the dictionary
def getkeys(dict):
    list = []
    for key in dict.keys():
        list.append(key)
          
    return list

#getting column names from dictionary
keys = getkeys(d)
print(len(keys))
print(keys)

24
['created_at', 'id', 'id_str', 'text', 'truncated', 'entities', 'metadata', 'source', 'in_reply_to_status_id', 'in_reply_to_status_id_str', 'in_reply_to_user_id', 'in_reply_to_user_id_str', 'in_reply_to_screen_name', 'user', 'geo', 'coordinates', 'place', 'contributors', 'is_quote_status', 'retweet_count', 'favorite_count', 'favorited', 'retweeted', 'lang']

In [ ]:
#Creating an empty dataframe for the tweets data

# t_df1 = pd.DataFrame(columns=[keys[0],keys[1],keys[2],keys[3],keys[4],keys[5],keys[6],keys[7],keys[8],keys[9],keys[10],keys[11],keys[12],keys[13],keys[14],keys[15],
#                            keys[16],keys[17],keys[18],keys[19],keys[20],keys[21],keys[22],keys[23],keys[24]])

t_df = pd.DataFrame(columns=[keys[0],keys[1],keys[2],keys[3],keys[4],keys[5],keys[6],keys[7],keys[8],keys[9],keys[10],keys[11],keys[12],keys[13],keys[14],keys[15],
                           keys[16],keys[17],keys[18],keys[19],keys[20],keys[21],keys[22],keys[23]])

In [ ]:
#Function for Getting data from the tweets dictionary
def getvalues(dict):
    list = []
    for value in dict.values():
        list.append(value)
          
    return list

In [ ]:
#Appending tweets data to the dataframe
for i in range (0,len(searched_tweets)):
  status = searched_tweets[i]
  json_str = json.dumps(status._json)
  d = json.loads(json_str)
  values = getvalues(d)
  if (len(values) == 24):
    row = pd.Series(values, index = t_df1.columns)
    t_df = t_df.append(row, ignore_index=True)

#Getting unique tweets
"""t_df = t_df1.drop_duplicates(['text'])
t_df = t_df.reset_index(drop=True)    """

NameError: ignored

In [ ]:
#t_df1 #tweets dataframe with duplicate tweets from retweets

In [ ]:
t_df#tweets dataframe

In [ ]:
#List of tweets text
tweetsList = t_df['text'].tolist()
#tweetsList

In [ ]:
#List of tweet dates
tweet_date_list = t_df['created_at'].tolist()
#tweet_date_list

In [ ]:
for i in range(0, len(t_df)):

# ***Bert for answering Queries***

In [ ]:
!pip install transformers
from transformers import BertForQuestionAnswering, AutoTokenizer
modelname = 'deepset/bert-base-cased-squad2'
model = BertForQuestionAnswering.from_pretrained(modelname)
tokenizer = AutoTokenizer.from_pretrained(modelname)
from transformers import pipeline
nlp = pipeline('question-answering', model=model, tokenizer=tokenizer)

In [ ]:
location_answer = []
for tweet in tweetsList:
  context = tweet

  sol = nlp({
      'question': "In which city are the beds needed?",
      'context': context
  })
  location_answer.append(sol['answer'])
  
print(location_answer)

bed_answer = []
for tweet in tweetsList:
  context = tweet

  sol = nlp({
      'question': 'Which type of bed?',
      'context': context
  })
  bed_answer.append(sol['answer'])
  
print(bed_answer)

In [ ]:
info = []

# ***Finding Beds from the dataframe***

In [ ]:
import random

In [ ]:
without_oxygen = "available_beds_without_oxygen"
with_oxygen = "available_beds_with_oxygen"
icu_no_ventilator = "available_icu_beds_without_ventilator"
icu_ventilator = "available_icu_beds_with_ventilator"
#Bed types

city = 'Delhi'

In [ ]:
#Function for finding beds from the beds dataframe
def findBed(city, bed):                                           #choosing a random hospital from 10 hospitals for every tweet
  hospital_data = df.loc[(df[bed] == True) & (df['area'] == city)].iloc[random.randint(0,10)].to_dict()
  string = 'Beds are available in '+hospital_data['hospital_name']+'. \n\nContact Information: '+hospital_data['hospital_phone']+". \n\nAddress: "+hospital_data['hospital_address']
  return string

In [ ]:
#Preparing reply tweets for the retrieved tweets
for i in range (0, len(answer)):
  if(answer[i] == "delhi" or answer[i] == "Delhi" or answer[i] == "DELHI" or answer[i] == "New Delhi" or 
     answer[i] == "new delhi" or answer[i] == "NEW DELHI" or answer[i] == "NEWDELHI" or answer[i] == "New delhi"):
                        #DELHI AND ICU WITHOUT VENTILATOR
         reply_tweet = findBed(city, icu_no_ventilator)
         print(reply_tweet) #Reply tweet string
         print("------------------------------------------------------------------------------------------------------------")

Beds are available in Mata Roop Rani Maggo Hospital, Uttam Nagar.

Contact Information: 01161290000,9555059059.

Address: C-9, Om vihar, Phase 1, Uttam Nagar, metro Pillar No-709, Phase 1A, Om Vihar, Uttam Nagar, Delhi, 110059, India
------------------------------------------------------------------------------------------------------------
Beds are available in Khandelwal Hospital And Urology Center.

Contact Information: 9212745664,01142408561,01142408591.

Address: B-16, Main Road, East Krishna Nagar, East Krishna Nagar, Block B, East Krishna Nagar, Krishna Nagar, New Delhi, Delhi 110051, India
------------------------------------------------------------------------------------------------------------
Beds are available in Kalra Hospital, Kirti Nagar.

Contact Information: 01125100000,01145005600,01145005700.

Address: Tulsi Dass Kalra Marg, Block A, Indira Colony, Kirti Nagar, New Delhi, Delhi 110015, India
------------------------------------------------------------------------------------------------------------
Beds are available in Kalra Hospital, Kirti Nagar.

Contact Information: 01125100000,01145005600,01145005700.

Address: Tulsi Dass Kalra Marg, Block A, Indira Colony, Kirti Nagar, New Delhi, Delhi 110015, India
------------------------------------------------------------------------------------------------------------
Beds are available in Garg Hospital, Karkardooma.

Contact Information: 01143274444,01145152556.

Address: No. 8& 9, opposite Karkardooma Court, A G C R Enclave, Sector 17, New Delhi, Haryana 110092, India
------------------------------------------------------------------------------------------------------------
Beds are available in Mata Roop Rani Maggo Hospital, Uttam Nagar.

Contact Information: 01161290000,9555059059.

Address: C-9, Om vihar, Phase 1, Uttam Nagar, metro Pillar No-709, Phase 1A, Om Vihar, Uttam Nagar, Delhi, 110059, India
------------------------------------------------------------------------------------------------------------
Beds are available in Dharamvir Solanki Hospital, Rohini.

Contact Information: 9311483147,9811188128.

Address: 100 Feet Rd, opp. Sector 22, Lakhi Ram Park, Sector 22, Rohini, Delhi, 110086, India
------------------------------------------------------------------------------------------------------------
Beds are available in Garg Hospital, Karkardooma.

Contact Information: 01143274444,01145152556.

Address: No. 8& 9, opposite Karkardooma Court, A G C R Enclave, Sector 17, New Delhi, Haryana 110092, India
------------------------------------------------------------------------------------------------------------
Beds are available in Dharamvir Solanki Hospital, Rohini.

Contact Information: 9311483147,9811188128.

Address: 100 Feet Rd, opp. Sector 22, Lakhi Ram Park, Sector 22, Rohini, Delhi, 110086, India
------------------------------------------------------------------------------------------------------------
Beds are available in MAX SS HOSPITAL, PATPARGANJ.

Contact Information: 8800333777.

Address: 108A, I.P.Extension, Patparganj, Delhi, 110092, India
------------------------------------------------------------------------------------------------------------